extends layout

block content
  h1 Example
  div(id="hot")
  table(id="log")
    thead
      tr
        th Method
        th URL
        th Payload
        th Data
        th status
  script.
    var container = document.getElementById('hot');
    
    var hot = new Handsontable(container, {
        dataSourceConnector: {
            controllerUrl: '/users'
        },
    });
    Handsontable.plugins.registerPlugin('dataSourceConnectorPlugin', DatasourceConector)
block scripts
  script(src='/js/handsontable.full.js')
  script(src='/js/datasource-connector.js')
  
block css
  link(rel='stylesheet', href='/js/handsontable.full.css')


