extends layout

block content
  h1 Example
  div(id="hot")
  script.
    var container = document.getElementById('hot');
    
    var hot = new Handsontable(container, {
        dataSourceConnector: {
          controllerUrl: '/basic'
        },
    });
block scripts
  script(src='/js/handsontable.full.js')
  script(src='/js/datasource-connector.full.js')
  
block css
  link(rel='stylesheet', href='/css/handsontable.min.css')


