extends layout

block content
  h1 Example
  div(id="hot")
  table(id="log")
    thead
      tr
        th Method
        th URL
        th Payload
        th Data
  script.
    var container = document.getElementById('hot');
    
    var hot = new Handsontable(container, {
        dataSourceConnector: {
          controllerUrl: '/users',
          onDataSend : function(data){
            var element = document.getElementById("log");
            var newRow = document.createElement("tr")
            newRow.innerHTML="<td>" + data.request.method + "</td><td>" + data.request.url + "</td><td>" + data.request.body + "</td><td>" + JSON.stringify(data.response) + "</td>";
            element.insertBefore(newRow, element.firstChild);
          }
        },
    });
block scripts
  script(src='https://docs.handsontable.com/pro/1.18.0/bower_components/handsontable-pro/dist/handsontable.full.js')
  script(src='/js/datasource-connector.js')
  
block css
  link(rel='stylesheet', href='https://docs.handsontable.com/pro/1.18.0/bower_components/handsontable-pro/dist/handsontable.min.css')


